.novlist{
	&-ul{
        display:flex;
        width:100%;
        height:100%;
        flex-direction: column;
        .novlist-li{ 
            margin: .5rem 0;
            .novlist-div{
				display:flex;
				flex-direction:row;
				flex-wrap: nowrap;
				.novlist-left{
					width: 4.8rem;
					height: 5rem;
					img{
					    width: 4rem;
					    height: 5rem;
					}
				}
				.novlist-right{
					padding-left: .7rem;
					p:nth-child(1){
                        font-size: .85rem;
                        margin: 0 0 .5rem 0;
					}
					p:nth-child(2){
					    height:2rem;
					    width: 100%;
					    font-size: .7rem;
					    overflow:hidden;
					    opacity:.7;
                        margin: 0 0 .5rem 0;
					}
					p:nth-child(3){
					    font-size:.7rem;
					    opacity:.7;
					    text-shadow: 0 0 .04rem #909076;
					    span{
					        color: red;
					    }
					}
				}
            }
        }
	}
	.loadmore{
	    width:100%;
	    height: 2rem;
	    text-align: center;
	    color:red;
	    margin-top:.6rem;
	    font-size:.8rem;
	    cursor:pointer;
	}
	.shadowBar{
	    width:100%;
	    height:.5rem;
	    background:rgb(244,244,244);
	    margin-bottom: 1rem;
	}
}