.chapter{
	width:100%;
	height:100%;
	background:#fff;
	padding:3rem 1rem 1rem;
	.chapter-content{
	    .chapter-title{
	        width:100%;
	        height:2.6rem;
		    display:flex;
		    flex-direction: row;
		    flex-wrap: nowrap;
		    align-items: center;
		    justify-content: space-between;
		    div{
		        display:flex;
			    flex-direction: row;
			    flex-wrap: nowrap;
			    align-items: center;
			    h3{
	                font-weight:bold;
                    color:#000;
			    }
			    span{
                    font-size: .7rem;
                    font-weight:normal;
                    margin-left:1rem;
                    color:#999;
			    }
		    }
		    span{
		        font-weight:bold;
                color:#000;
		    }
	    }
	    .chapter-list{
            width:100%;
            height:100%;
            ul li{
                width:inherit;
                height:3rem;
                padding-left:.4rem;
                p{
                    height:3rem;
                    line-height:3rem;
                    font-size:.8rem;
                    color:#999;
                }
            }
	    }
	}
	.changeSource{
		position: fixed;
		top:7rem;
		transform:translateX(-30rem);
		transition: all .4s;
		z-index:100;
	    width: 80%;
	    height:100%;
	    margin: 0 auto;
	    background:#999;
	    ul{
	        padding: 2rem 1rem;
	        li{
                width:100%;
                height:2rem;
                p{
                    height:2rem;
                    line-height:2rem;
                    font-size:1rem;
                    font-weight:bold;
                    color:#fff;
                }
	        }
	    }
	}
	.showSource{
		transform:translateX(1rem);
	    opacity:1;
	}
}
